

<div class="editPayment">
  <form [formGroup]="PaymentForm" (ngSubmit)="submitData()" class="text-center border border-light p-0" novalidate>
      <p class="h4 mb-4">Edit Payment</p>

      <div class="formField mb-4">
        <mat-form-field class="w100">
          <mat-select formControlName="type" placeholder="Payment Type">
            <mat-option value="credit">Credit</mat-option>
            <mat-option value="withdrawl">Withdrawl</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="formField mb-4">
        <div class="input-group">
          <div class="input-group-prepend"><span class="input-group-text">Rs</span></div>
          <input type="text" formControlName="amount" class="form-control" placeholder="amount" required>
        </div>
        <div *ngIf="f.amount.touched && f.amount.invalid" class="formError">
          <p *ngIf="f.amount.errors.pattern">Only Number value allowed </p>
        </div>
      </div>


      <div class="formField mb-4">
        <mat-form-field class="w100">
          <mat-select formControlName="investor_id" placeholder="Select Investor">
            <mat-option *ngFor="let investor of investorsList" [value]="investor.id">{{investor.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <!-- Send button -->
      <div class="formAction">
        <button class="btn btn-info btn-block" type="submit">Update</button>
      </div>
    </form>
    <!-- Default form contact -->
</div>






