
<div class="container">
  <!-- Default form contact -->
  <form [formGroup]="newForm" (ngSubmit)="submitData()" class="text-center border border-light p-5" novalidate>

      <p class="h4 mb-4">New Stock</p>

      <!-- Name -->

      <div class="formField mb-4">
        <input type="text" formControlName="title" class="form-control" placeholder="title" required>
        <div *ngIf="f.title.touched && f.title.invalid" class="formError">
          <p *ngIf="f.title.errors.required">Title Required</p>
        </div>
      </div>


      <div class="formField mb-4">
        <input type="text" formControlName="quantity" class="form-control" placeholder="quantity" required>
        <div *ngIf="f.quantity.touched && f.quantity.invalid" class="formError">
          <p *ngIf="f.quantity.errors.required">Quantity Required</p>
        </div>
      </div>


      <!-- Send button -->
      <div class="formAction">
        <button class="btn btn-info btn-block" type="submit">Send</button>
      </div>


    </form>
    <!-- Default form contact -->
</div>


