
<div class="pageTopHeader m-2">
    <a [routerLink]="['/purchase']" class="btn btn-info btn-block"><i class="fas fa-chevron-left"></i> </a>
</div>

<div class="container p-0">
  <!-- Default form contact -->
  <form [formGroup]="PurchaseForm" (ngSubmit)="submitData()" class="text-center border border-light" novalidate>

      <p class="h4 mb-4">Edit Purchase</p>

      <div class="formField mb-4">
        <label class="labelTag">Title</label>
        <input type="text" formControlName="title" class="form-control" placeholder="Title" required>
        <div *ngIf="f.title.touched && f.title.invalid" class="formError">
          <p *ngIf="f.title.errors.required">Title Required</p>
        </div>
      </div>


      <div class="formField mb-4">
        <label class="labelTag">Quantity</label>
        <input type="text" formControlName="quantity" class="form-control" placeholder="Quantity" required>
        <div *ngIf="f.quantity.touched && f.quantity.invalid" class="formError">
          <p *ngIf="f.quantity.errors.required">Quantity Required</p>
        </div>
      </div>

      <div class="formField mb-4">
        <label class="labelTag">Price</label>
        <input type="text" formControlName="price" class="form-control" placeholder="Price" required>
        <div *ngIf="f.price.touched && f.price.invalid" class="formError">
          <p *ngIf="f.price.errors.required">Price Required </p>
          <p *ngIf="f.price.errors.pattern">Only Number value allowed </p>
        </div>
      </div>



      <div class="formField mb-4">
          <mat-form-field class="w100">
            <mat-select formControlName="tank_id" placeholder="Select Tank">
              <mat-option *ngFor="let tank of tanksList" [value]="tank.id">{{tank.title}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>


      <div class="formField mb-4">
        <label class="labelTag">Expense</label>
        <input type="text" formControlName="expense" class="form-control" placeholder="Expense" required>
        <div *ngIf="f.expense.touched && f.expense.invalid" class="formError">
          <p *ngIf="f.expense.errors.required">Expense Required </p>
          <p *ngIf="f.expense.errors.pattern">Only Number value allowed </p>
        </div>
      </div>


      <div class="formField mb-4">
        <label class="labelTag">Vehicle</label>
        <input type="text" formControlName="vehicle" class="form-control" placeholder="Vehicle" required>
        <div *ngIf="f.vehicle.touched && f.vehicle.invalid" class="formError">
          <p *ngIf="f.vehicle.errors.required">Vehicle Required </p>
          <p *ngIf="f.vehicle.errors.pattern">Only Number value allowed </p>
        </div>
      </div>


      <div class="formField mb-4">
        <!-- <label style="float: left;">Date</label> -->
        <div class="input-group">
          <mat-form-field class="w100">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div *ngIf="f.date.touched && f.date.invalid" class="formError">
          <p *ngIf="f.date.errors.required">Date Required </p>
        </div>
      </div>



      <!-- Send button -->
      <div class="formAction">
        <button class="btn btn-info btn-block" type="submit">Send</button>
      </div>


    </form>
    <!-- Default form contact -->
</div>


